.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F8F2EA;
}
.app > header{
    flex-shrink: 0;
}

.main{
    flex: 1;
    overflow-y: auto;
    background-color: #000000;
    padding: 2rem;
}